<div class="container-fluid border border-light bg-light pt-3 pb-3 rounded-lg">
  <div class="mb-3"><% if user.profile.profile_picture.attached? %>
    <%= image_tag user.profile.profile_picture.variant(resize: '400x400!'), class: "img-fluid rounded-lg" %>
  <% else %>
    <%= image_tag gravatar_image_url(user.email, size: '100%'), height: 'auto', width: '100%', class: "rounded-lg" %>
  <% end %></div>
  <div><div class="font-weight-bold"><%= 'Name: ' %></div><%= user.name %></div><br>
  <div><div class="font-weight-bold"><%= 'Bio: ' %></div><%= user.profile.bio %></div><br>
  <div><div class="font-weight-bold"><%= 'Current town or city: ' %></div><%= user.profile.location %></div><br>
  <div><div class="font-weight-bold"><%= 'Workplace: ' %></div><%= user.profile.workplace %></div><br>
  <div><div class="font-weight-bold"><%= 'School or university: ' %></div><%= user.profile.school %></div><br>
  <div><div class="font-weight-bold"><%= 'Home town: ' %></div><%= user.profile.home_town %></div><br>
  <div><div class="font-weight-bold"><%= 'Relationship status: ' %></div><%= user.profile.relationship_status %></div><br>
  <div><div class="font-weight-bold"><%= 'Birthday: ' %></div><%= user.profile.birthday.strftime('%-d %B') unless user.profile.birthday.nil? %></div><br>
  <% if my_profile?(user.id) %>
    <%= button_to 'Edit Profile', edit_user_profile_path(user[:id]), method: 'get', class: "btn btn-link" %>
  <% end %>
</div>