<div class="row">
  <div class="col-sm-3 display-flex flex-column">
  <div class="mb-3"><h4>Your friends:</h4></div>
    <%= render partial: 'own_friends', locals: { friends: @friends } %>
  </div>
  <div class="col-sm-6 display-flex flex-column">
    <div class="mb-3"><h4>Suggested friends:</h4></div>
      <% if @not_friends.empty? %>
        <div class="container-fluid bg-light pt-2 pb-2 rounded-lg">
          <%= 'No suggested friends' %>
        </div>
      <% else %>
        <% @not_friends.each do |user| %>
          <div class="container-fluid bg-light pt-2 pb-2 mb-2 rounded-lg">
            <div class="d-flex flex-row align-items-center">
              <div class="mb-2 mt-2 mr-3"><% if user.profile.profile_picture.attached? %>
                <%= image_tag user.profile.profile_picture.variant(resize: '60x60!'), class: "img-fluid rounded-circle" %>
              <% else %>
                <%= image_tag gravatar_image_url(user.email, size: '60'), height: '60', width: '60', class: 'rounded-circle img-fluid' %>
              <% end %></div>
              <div><%= link_to(user.name, user_path(user.id)) %></div>
              <div class="ml-auto"><%= render partial: 'request_form', locals: { user: user } %></div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <div class="col-sm-3 display-flex flex-column">
  <div class="mb-3"><h4>Sent friend fequests:</h4></div>
    <% if @sent_requests.empty? %>
      <div class="container-fluid bg-light pt-2 pb-2 rounded-lg">
        <%= 'Everyone has accepted your requests' %>
      </div>
    <% else %>
      <% @sent_requests.each do |user| %>
        <div class="container-fluid bg-light pt-2 pb-2 mb-2 rounded-lg">
          <div class="d-flex flex-row align-items-center">
            <div class="mb-2 mt-2 mr-3"><% if user.profile.profile_picture.attached? %>
                <%= image_tag user.profile.profile_picture.variant(resize: '60x60!'), class: "img-fluid rounded-circle" %>
              <% else %>
                <%= image_tag gravatar_image_url(user.email, size: '60'), height: '60', width: '60', class: 'rounded-circle img-fluid' %>
              <% end %></div>
            <div class="mr-3"><%= link_to(user.name, user_path(user.id)) %></div>
            <div class="ml-auto"><%= button_to("Cancel", friend_request_path(current_user.friend_requests_as_sender.find_by(receiver_id: user.id)), method: 'delete') %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>