<div class="container-fluid">
  <%= form_with model: @comment, url: comments_path, method: 'post' do |f| %>
    <div class="form-group"><%= f.text_area :content, class: "form-control" %></div>
    <%= f.hidden_field 'user_id', :value => current_user[:id] %>
    <%= f.hidden_field 'post_id', :value => post.id %>
    <%= f.submit "Comment" %>
  <% end %>
</div>