<div class="container-fluid">
  <%= form_with model: @post, url: posts_path, method: 'post' do |f| %>
    <div class="form-group"><%= f.label :content, "What's on your mind?" %>
    <%= f.text_area :content, class: "form-control" %></div>
    <%= f.hidden_field 'user_id', :value => current_user[:id] %>
    <%= f.submit "Post" %>
  <% end %>
</div>